.bgContainer {
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 640px;
  margin-top: -320px;
  margin-left: -360px;
  padding: 64px 160px 136px;
  background-color: #fff;
  border-radius: 5px;
  opacity: 0.7;
}

.signInContainer {
  margin-top: 35px;
}

.signInInnerContainer {
  padding-top: 25px;
}

.lang {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 1;
}

.denglu {
  // position: fixed;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow-y: auto;
}
.denglu .searchBox {
  // position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.9rem;
  background-color: #ff7a59;
  z-index: 30;
}
.denglu .searchBox .home-search {
  height: 100%;
  line-height: 0.9rem;
  font-size: 0.4rem;
  text-align: center;
  color: #fff;
}
.denglu .searchBox .home-search .fanhui-butten {
  position: absolute;
  height: 100%;
  padding-left: 0.32rem;
  display: inline-block;
  top: 0.08rem;
  left: 0;
}
.denglu .searchBox .home-search .fanhui-butten img {
  height: 0.4rem;
}
.denglu .searchBox .home-search .fanhui-right {
  position: absolute;
  right: 0.4rem;
  top: 0;
  font-size: 0.32rem;
}
.denglu .searchBox .home-search .fanhui-right font {
  display: inline-block;
  vertical-align: top;
}
.denglu .contents {
  width: 100%;
  padding-top: 1.5rem;
}
.denglu .contents .logo {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 26;
  ul {
    margin: 0;
    padding: 0;
  }
}
.denglu .contents .logo ul > li {
  width: 2.98rem;
  height: 2.98rem;
  // background-image: url('/icons/denglu2.png');
  background-size: 100% 100%;
}
.denglu .contents .denglu-text {
  width: 90.8%;
  margin: 0 auto;
  position: relative;
  margin-top: 0.6rem;
  border: 1px solid #d0d0d0;
}
.denglu .contents .denglu-text ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
.denglu .contents .denglu-text ul li {
  width: 100%;
  padding: 0.14rem 0 !important;
  display: flex;
}
.denglu .contents .denglu-text ul li input {
  height: 0.52rem;
  flex: 1;
  padding-left: 0.2rem !important;
  border: none;
  outline: none;
  cursor: pointer;
  caret-color: #ff7a59;
  font-size: 0.28rem;
  border-left: 1px solid #d0d0d0;
}
.denglu .contents .denglu-text ul li input::-webkit-input-placeholder {
  color: #d0d0d0;
}
.denglu .contents .denglu-text ul li:first-child {
  border-bottom: 1px solid #d0d0d0;
}
.denglu .contents .denglu-text ul li span {
  display: inline-block;
  width: 0.52rem !important;
  height: 0.52rem !important;
  margin: 0 0.19rem !important;
  // background-image: url("/images/yonghu.png");
  background-size: 100% 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
.denglu .contents .denglu-text ul li font {
  display: inline-block;
  width: 0.34rem;
  height: 0.34rem;
  margin: 0.08rem 0.32rem 0 0;
  // background-image: url("/images/quxiao.png");
  background-size: 100% 100%;
}
.denglu .contents .denglu-text ul li:last-child span {
  // background-image: url("/images/mima.png");
}
.denglu .contents .denglu-food {
  width: 90.8%;
  height: 0.8rem;
  margin: 0 auto;
  margin-top: 0.6rem;
  font-size: 0;
}
.denglu .contents .denglu-food span {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 0.4rem;
  text-align: center;
  line-height: 0.8rem;
  border-radius: 8px;
  display: inline-block;
  background: #ff7a59;
}
.denglu .contents .denglu-to {
  width: 100%;
  color: #d0d0d0;
  font-size: 0.28rem;
  margin-top: 0.4rem;
}
.denglu .contents .denglu-to ul {
  padding: 0.4rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}
.denglu .contents .denglu-to ul .denglu-zhuce {
  color: #ff7a59;
}
.denglu .contents .denglu-list {
  width: 100%;
  height: 0.8rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.denglu .contents .denglu-bottom {
  color: #d0d0d0;
  bottom: 0.2rem;
  left: 0;
  font-size: 0.32rem;
}
.switch-content-box {
  // position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 1000000;
  .switch-content-box-list {
    width: 100%;
    height: 50%;
  }
}
.Clock {
  .denglu {
    z-index: 1010;
    background: none;
  }
}
.clock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  color: #ffffff;
  .clock-box {
    border-radius: 7.1rem;
    position: relative;
    width: 7.2rem;
    height: 7.2rem;
    // background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 10;
    transition: transform 6s cubic-bezier(0.7, 0.3, 0.1, 1),
      box-shadow 0.6s cubic-bezier(0.7, 0.3, 0.1, 1);
    transition-delay: 0s, 0s;
    transition-timing-function: cubic-bezier(0.7, 0.3, 0.1, 1),
      cubic-bezier(0.7, 0.3, 0.1, 1);
    transition-duration: 0.6s, 0.6s;
    transition-property: transform, box-shadow;
    .clock-box-term {
      width: 100%;
      height: 0.3rem;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      display: flex;
      justify-content: flex-end;
      z-index: 100;
      .clock-box-term-text {
        width: 50%;
        text-align: right;
        line-height: 0.3rem;
        transform: scale(0.65);
        margin-right: -0.62rem;
        span {
          line-height: 0.25rem;
          font-size: 0.2rem;
          display: inline-block;
          transition: transform 6s cubic-bezier(0.7, 0.3, 0.1, 1),
            box-shadow 0.6s cubic-bezier(0.7, 0.3, 0.1, 1);
          transition-delay: 0s, 0s;
          transition-timing-function: cubic-bezier(0.7, 0.3, 0.1, 1),
            cubic-bezier(0.7, 0.3, 0.1, 1);
          transition-duration: 0.6s, 0.6s;
          transition-property: transform, box-shadow;
        }
      }
    }
  }
  @keyframes mymove {
    0% {
      box-shadow: 0px 0px 31px rgba(255, 0, 255, 0);
      background-color: rgba(255, 0, 255, 0);
    }
    100% {
      box-shadow: 0px 0px 31px rgba(255, 0, 255, 1);
      background-color: rgba(255, 0, 255, 0.4);
    }
  }
  @keyframes mymove1 {
    0% {
      box-shadow: 0px 0px 31px rgba(255, 0, 255, 1);
      background-color: rgba(255, 0, 255, 0.4);
    }
    100% {
      box-shadow: 0px 0px 31px rgba(255, 0, 255, 0);
      background-color: rgba(255, 0, 255, 0);
    }
  }
  @keyframes mymove0 {
    0% {
      text-shadow: 13px 3px 12px rgba(255, 0, 255, 0);
    }
    100% {
      text-shadow: 13px 3px 12px rgba(255, 0, 255, 1);
    }
  }

  @keyframes mymove-year {
    0% {
      background-color: blue;
    }
    100% {
      background-color: #ff7a59;
    }
  }
  @keyframes mymove-year-no {
    0% {
      background-color: #ff7a59;
    }
    100% {
      background-color: blue;
    }
  }
  .mymove-year {
    animation: mymove-year 1s;
  }
  .mymove-year-no {
    animation: mymove-year-no 1s;
  }
  .clock-Pointer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin: auto;
    height: 0.25rem;
    width: 3.67rem;
    border-radius: 0.05rem;
  }

  @keyframes clock-Pointer-change {
    0% {
      background-image: linear-gradient(90deg, blue, #ff7a59);
    }
    100% {
      background-image: linear-gradient(90deg, #ff7a59, blue);
    }
  }
  @keyframes clock-Pointer-change1 {
    0% {
      background-image: linear-gradient(90deg, #ff7a59, blue);
    }
    100% {
      background-image: linear-gradient(90deg, blue, #ff7a59);
    }
  }
  .clock-Pointer-change {
    background-size: 200% 200%;
    animation: clock-Pointer-change 1s;
  }
  .clock-Pointer-change1 {
    background-size: 200% 200%;
    animation: clock-Pointer-change1 1s;
  }
  .mymove-year1 {
    background-color: #ff7a59;
  }
  .mymove-year-no1 {
    background-color: blue;
  }
  .clock-Pointer-change3 {
    background-image: linear-gradient(90deg, #ff7a59, blue);
  }
  .clock-Pointer-change4 {
    background-image: linear-gradient(90deg, blue, #ff7a59);
  }
  .clock-year {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.2rem;
    text-align: center;
    transform: scale(0.8);
    border-radius: 1rem;
    padding: 0.07rem;
    z-index: 100;
  }
  .clock-button {
    position: absolute;
    cursor: pointer;
    width: 0.5rem;
    height: 0.5rem;
    right: 0.25rem;
    bottom: 0.25rem;
    font-size: 0.1rem;
    .video-closure-icon {
      width: 100%;
      height: 100%;
      color: #ff7a59;
    }
  }
  .clock-button-pc {
    bottom: 20px;
  }
  .branch {
    width: 5.92rem;
    height: 5.92rem;
    .clock-box-term .clock-box-term-text {
      margin-right: -0.51rem;
    }
  }
  .time {
    width: 4.66rem;
    height: 4.66rem;
    .clock-box-term .clock-box-term-text {
      margin-right: -0.41rem;
    }
  }
  .season {
    width: 3.65rem;
    height: 3.65rem;
    .clock-box-term .clock-box-term-text {
      margin-right: -0.33rem;
    }
  }
  .numberS {
    width: 2.95rem;
    height: 2.95rem;
    .clock-box-term .clock-box-term-text {
      margin-right: -0.28rem;
    }
  }
  .month {
    width: 1.83rem;
    height: 1.83rem;
    .clock-box-term .clock-box-term-text {
      margin-right: -0.14rem;
    }
  }
}
