.jieshao{
    .content {
        padding: 20px 10px;
        p{
           span{
                white-space: normal;
                line-height: 2em;
                color:red
            } 
        }
        
    }
}
