.m-sousuo{
    width:100%;
    height:100%;
    @include flexbox();
    @include flex-direction(column);
    header{
        background: #efefef;
        border-bottom:1px #d7d7d7 solid;
        height:0.44rem;
        width:100%;
        .yo-header-ab{
            height:0.44rem;
            width:100%;
            @include flexbox();
            .regret_1{
                width:0.40rem; 
                height:100%;
                img{
                    width:0.12rem;
                    margin:0.125rem 0 0 0.14rem; 
                }
            }
            .title{
                flex:1;
                .sousuo{
                    @include flexbox();
                    height:0.28rem;
                    background:#ffffff;
                    color:#a9a9a9;
                    border-radius:0.04rem;
                    border:1px #dedede solid;
                    margin-top:0.075rem;
                    input{
                        flex:1;
                        height:100%;
                        border:none;
                        font-size:0.12rem;
                        font-weight: normal;
                        margin-left:0.08rem;
                        a{
                            display:inline-block;
                            line-height: 0.28rem;
                            color:#a9a9a9;
                            width:100%;
                            text-align:left;
                        }
                    }
                    .img1{
                        height:100%;
                        width:0.38rem;
                        border-left:1px #dedede solid;
                        a{
                            img{
                                margin:0.02rem 0 0 0.08rem;
                                width:0.15rem;
                            }
                        }
                          
                    }  
                }
            }
            .img2{
                width:0.45rem;
                img{
                    width:0.18rem;
                    height:0.18rem;
                    margin:0.125rem 0 0 0.14rem;
                }
            }
        }
    }
    .nav-s{
    height: .5rem;
    background: #404042;
    @include border(1px 0 0 0, #fff);
//  border-top:1px #dedede solid;
    ul {
      width: 100%;
      height: 100%;
      @include flexbox();
      li {
        @include flex();
        &:first-child i {
//        margin-top: .08rem;
        }
        a {
          height: 100%;
          @include flexbox();
          @include flex-direction(column);
          @include align-items(center);
          @include justify-content(center);
          i, b {
            color: #fff;
          }
          i {
            font-size: .25rem;
            line-height: .25rem;
          }
          b {
            font-weight: normal;
            font-size: .12rem;
            // @include transform(scale(0.5));
          }
          &.active i,
          &.active b {
            font-weight: bold;
            width:100%;
            text-align: center;
//          color: rgba(242, 48, 48, 1)
            background: #141415;
          }
        }
      }
    }
  }
    .sousuo-list{
        width:100%;
        height:0.55rem;
        background: #fff;
        p{
            padding: .2rem .15rem .15rem;
            font-size: .15rem;
            color: #E71D36;
        }
    }
    .sousuo-list-s{
            overflow: hidden;
            text-align: center;
            padding-left: .15rem;
            background:#fff;
            span{
                display: block;
                width: 33.3%;
                float: left;
                overflow: hidden;
                padding-bottom: .07rem;
                padding-right: .15rem;
                a{
                    height: .3rem;
                    line-height: .3rem;
                    border-radius: .15rem;
                    display: block;
                    width: 100%;
                    color: #848689;
                    border: 1px solid #e0e0e0;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background-color: #fff;
                    overflow: hidden;
                    font-size: .12rem;
                }
            }
    }
}
