.m-kindlistchild {
    width:100%;
    height:100%;
    @include flexbox();
    @include flex-direction(column);
    header{
        background: #efefef;
        border-bottom:1px #d7d7d7 solid;
        height:0.44rem;
        width:100%;
        .yo-header-ab{
            height:0.44rem;
            width:100%;
            @include flexbox();
            .regret_1{
                width:0.40rem; 
                height:100%;
                img{
                    width:0.12rem;
                    margin:0.125rem 0 0 0.14rem; 
                }
            }
            .title{
                flex:1;
                .sousuo{
                    @include flexbox();
                    height:0.28rem;
                    background:#ffffff;
                    color:#a9a9a9;
                    border-radius:0.04rem;
                    border:1px #dedede solid;
                    margin-top:0.075rem;
                    .link_1{
                        flex:1;
                        font-size:0.12rem;
                        font-weight: normal;
                        margin-left:0.08rem;
                        a{
                            display:inline-block;
                            line-height: 0.28rem;
                            color:#a9a9a9;
                            width:100%;
                            text-align:left;
                        }
                    }
                    .img1{
                        height:100%;
                        width:0.38rem;
                        border-left:1px #dedede solid;
                        a{
                            img{
                                margin:0.02rem 0 0 0.08rem;
                                width:0.15rem;
                            }
                        }
                          
                    }  
                }
            }
            .img2{
                width:0.45rem;
                img{
                    width:0.18rem;
                    height:0.18rem;
                    margin:0.125rem 0 0 0.14rem;
                }
            }
        }
    }
    .nav-s{
        height: .5rem;
        background: #404042;
        @include border(1px 0 0 0, #fff);
    //  border-top:1px #dedede solid;
        ul {
          width: 100%;
          height: 100%;
          @include flexbox();
          li {
            @include flex();
            &:first-child i {
    //        margin-top: .08rem;
            }
            a {
              height: 100%;
              @include flexbox();
              @include flex-direction(column);
              @include align-items(center);
              @include justify-content(center);
              i, b {
                color: #fff;
              }
              i {
                font-size: .25rem;
                line-height: .25rem;
              }
              b {
                font-weight: normal;
                font-size: .12rem;
                // @include transform(scale(0.5));
              }
              &.active i,
              &.active b {
                font-weight: bold;
                width:100%;
                text-align: center;
    //          color: rgba(242, 48, 48, 1)
                background: #141415;
              }
            }
          }
        }
    } 
    .kind-list{
        background:#ffffff;
        @include flexbox();
        @include flex-direction(column);
        flex:1;
        .nav{
            width:100%;
            height:0.44rem;
            border-bottom:1px #dedede solid;
            display:flex;
            text-align: center;
            span{
                flex:1;
                height:100%;
                line-height:0.44rem;
                font-size:0.12rem;
                img{
                    width:0.07rem;
                    margin-left:0.04rem;
                }
            }
        }
        .nav-list{
            flex:1;
            overflow-y: auto;
            li {
                position: relative;
                display: block;
                min-height: 1.2rem;
                overflow: hidden;
                a {
                    color: #252525;
                    text-decoration: none;
                    cursor: pointer;
                    .product-img-wrapper {
                        float: left;
                        width: 1rem;
                        height: 1rem;
                        line-height: 0;
                        margin: .1rem;
                        overflow: hidden;
                    }
                    .product-msg-wrapper {
                        padding-top: .1rem;
                        .productname-wrapper {
                            font-size: .14rem;
                            height: .46rem;
                            line-height: .23rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                        .product-price-wrapper {
                            display: table;
                            .product-price{
                                display: table-cell;
                                color: #E71D36;
                                font-size: .14rem;
                                height: .32rem;
                                line-height: .32rem;
                                vertical-align: middle;
                                padding-right: .07rem;
                                span {
                                    font-size: .18rem;
                                }
                            }
                        }
                        .product-skuno-wrapper {
                            font-size: .12rem;
                            color: #8e8e8e;
                            .vendor-icon {
                                display: inline-block;
                                height: .14rem;
                                width: .14rem;
                                vertical-align: top;
                                background: url(http:\/\/m.sctvgo.com/themes/default/images/logo/star-logo.png) no-repeat;
                                -moz-background-size: .14rem .14rem;
                                -webkit-background-size: .14rem .14rem;
                                background-size: .14rem .14rem;
                            }
                            
                            
                        }
                    }
                }
            }
        }
    }
    
    
}
