#RongziLeixing{
    width: 100%;
    height: 100%;
    .home {
      width: 100%;
      height: auto;
      position: relative;
      background: #f5f5f5;
    }
    .home .header {
      width: 100%;
      padding-bottom: 20px;
    }
    .home .header ul {
      width: 100%;
      background: #fe7f65;
    }
    .home .header ul .header-top {
      width: 100%;
      height: 28px;
      background: #000000;
    }
    .home .header ul .header-bottom {
      width: 1100px;
      margin: 0 auto;
      background: #fe7f65;
      overflow: hidden;
    }
    .home .header ul .header-bottom .header-left {
      width: 50%;
      padding: 18px 0;
      float: left;
      overflow: hidden;
    }
    .home .header ul .header-bottom .header-left .img-left {
      width: 66px;
      height: 66px;
      float: left;
      margin-right: 10px;
    }
    .home .header ul .header-bottom .header-left .img-right {
      height: 46px;
      margin-top:12px;
      float: left;
    }
    .home .header ul .header-bottom .header-right {
      width: 50%;
      padding: 18px 0;
      float: right;
      overflow: hidden;
    }
    .home .header ul .header-bottom .header-right ul {
      width: 332px;
      padding: 14px 0;
      float: right;
    }
    .home .header ul .header-bottom .header-right ul .img-top {
      float: left;
      width: 38px;
      height: 38px;
      margin-right: 10px;
    }
    .home .header ul .header-bottom .header-right ul .img-top img {
      float: left;
      width: 38px;
      height: 38px;
    }
    .home .header ul .header-bottom .header-right ul .img-center {
      float: left;
      font-size: 14px;
      color: #fff;
    }
    .home .header ul .header-bottom .header-right ul .img-center p {
      font-size: 16px;
      line-height: 16px;
      padding-bottom: 6px;
    }
    .home .header ul .header-bottom .header-right ul .img-center span {
      display: inline-block;
      margin-right: 10px;
    }
    .home .header ul .header-bottom .header-right ul .img-bottom {
      float: right;
      cursor: pointer;
    }
    .home .header ul .header-bottom .header-right ul .img-bottom img {
      height: 38px;
    }
    .home .box {
      width: 1100px;
      height: auto;
      background: #fff;
      font-size: 16px;
      margin: 0 auto;
      padding: 40px 0 80px 0;
    }
    .home .box .content-img {
      height: 60px;
    }
    .home .box .content-img span {
      display: block;
      width: 268px;
      margin: 0 auto;
      font-size: 28px;
      color: #FC7257;
      text-align: center;
      font-weight: bold;
    }
    .home .box .box-content {
      padding: 0 60px 0 60px;
    }
    .home .box .box-content .xinxi {
      margin-bottom: 50px;
    }
    .home .box .box-content .xinxi .xinxi-1 span {
      padding-left: 30px;
      line-height: 20px;
      font-size: 20px;
      color: #808080;
      border-left: 1px dashed #8f8f8f;
    }
    .home .box .box-content .xinxi .xinxi-1 .colors {
      color: #3c3c3c;
    }
    .home .box .box-content .xinxi .xinxi-2 {
      padding: 20px 0 40px 0;
      height: 30px;
    }
    .home .box .box-content .xinxi .xinxi-2 div {
      width: 376px;
      height: 44px;
      background: #f5f5f5;
      line-height: 44px;
      font-size: 16px;
      float: left;
      margin-right: 50px;
    }
    .home .box .box-content .xinxi .xinxi-2 div span {
      color: #ec6868;
      margin: 0 6px 0 4px;
      float: left;
    }
    .home .box .box-content .xinxi .xinxi-2 div font {
      color: #3c3c3c;
      float: left;
      margin-right: 4px;
    }
    .home .box .box-content .xinxi .xinxi-2 div input {
      float: left;
      color: #bababa;
      background: #f5f5f5;
      outline: none;
      line-height: 44px;
    }
    .home .box .box-content .xinxi .xinxi-2 div input::-webkit-input-placeholder { /* WebKit browsers */
      color: #bababa;
    }
    .home .box .box-content .xinxi .xinxi-2 div input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #bababa;
    }
    .home .box .box-content .xinxi .xinxi-2 div input::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #bababa;
    }
    .home .box .box-content .xinxi .xinxi-2 div input:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #bababa;
    }
    .home .box .box-content .xinxi .xinxi-2 .shangchuan {
      position: relative;
      width: 476px;
      overflow: hidden;
    }
    .home .box .box-content .xinxi .xinxi-2 .shangchuan font {
      color: #fc7257;
      font-size: 16px;
      line-height: 20px;
      cursor: pointer;
    }
    .home .box .box-content .xinxi .xinxi-2 .shangchuan input {
      width: 460px;
      line-height: 16px;
    }
    .home .box .box-content .xinxi .xinxi-2 .shangchuan label {
      position: absolute;
      top: 10px;
      left: -55px;
    }
    .home .box .box-content .xinxi .xinxi-2 .shangchuan span {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      background: #f5f5f5;
      margin: 0;
      padding: 0 6px 0 4px;
      line-height: 48px;
    }
    .home .box .box-content .xinxi .xinxi-2 .diqu {
      width: 216px;
      float: right;
      margin: 0;
      position: relative;
    }
    .home .box .box-content .xinxi .xinxi-2 .diqu select { /*很关键：将默认的select选择框样式清除*/
      position: absolute;
      left: 20px;
      top: 0;
      z-index: 1;
      cursor: pointer;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      width: 186px;
      border: none;
      float: left;
      color: #bababa;
      background: none;
      outline: none;
      line-height: 44px;
    }
    .home .box .box-content .xinxi .xinxi-2 .diqu select::-webkit-input-placeholder { /* WebKit browsers */
      color: #bababa;
    }
    .home .box .box-content .xinxi .xinxi-2 .diqu select::-ms-expand {
      display: none;
    }
    .home .box .box-content .xinxi .xinxi-2 .diqu img {
      width: 22px;
      position: absolute;
      right: 10px;
      top: 0;
      z-index: 0;
    }
    .home .box .box-content .xinxi .xinxi-3 {
      margin-top: 20px;
      padding-top: 18px;
      zoom: 1;
      background: #f5f5f5;
    }
    .home .box .box-content .xinxi .xinxi-3 .xinxi-type .hangye {
      float: left;
      width: 122px;
    }
    .home .box .box-content .xinxi .xinxi-3 .xinxi-type .hangye span {
      color: #ec6868;
      margin: 0 6px 0 4px;
      float: left;
    }
    .home .box .box-content .xinxi .xinxi-3 .xinxi-type .hangye font {
      color: #3c3c3c;
      float: left;
      margin-right: 4px;
    }
    .home .box .box-content .xinxi .xinxi-3 .xinxi-type .hangye-type {
      float: left;
      overflow: hidden;
      padding-left: 60px;
    }
    .home .box .box-content .xinxi .xinxi-3 .xinxi-type .hangye-type span {
      float: left;
      width: 260px;
      height: 80px;
      border: 1px solid #E5E5E5;
      background: #fff;
      color: #3c3c3c;
      font-size: 20px;
      margin: 0 38px 29px 0;
      text-align: center;
      line-height: 80px;
      cursor: pointer;
    }
    .home .box .box-content .xinxi .xinxi-3 .xinxi-type .hangye-type .borders {
      border: 1px solid #FC7257;
//    background-image: url(./img/duihao.png);
      background-size: 80px 80px;
      background-position: 190px 0;
      background-repeat: no-repeat;
    }
    .home .box .box-content .xinxi .xinxi-3:after {
      display: block;
      clear: both;
      content: "";
      visibility: hidden;
      height: 0;
    }
    .home .box .box-content .tuijian .xinxi-3 {
      margin-right: 0;
    }
    .home .box .box-content .tuijian .xinxi-3 .xinxi-type .hangye {
      width: 20px;
      padding-top: 2px;
    }
    .home .box .box-content .tuijian .xinxi-3 .xinxi-type .mint-field-core {
      width: 1048px;
      height: 133px;
      resize: none;
      font-size: 16px;
      background: #f5f5f5;
      color: #bababa;
      line-height: 20px;
      border: none;
      outline: none;
    }
    .home .box .box-content .tuijian .xinxi-3 .xinxi-type .mint-field-core::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    .home .box .box-content .tuijian .xinxi-3 .xinxi-type .mint-field-core::-webkit-input-placeholder {
      color: #afafaf;
    }
    .home .box .box-content .jingying {
      overflow: hidden;
    }
    .home .box .box-content .jingying .xinxi-2:after {
      display: block;
      clear: both;
      content: "";
      visibility: hidden;
      height: 0;
    }
    .home .box .box-content .jingying #xinxi-2 {
      width: 622px !important;
      zoom: 1;
    }
    .home .box .box-content .jingying #xinxi-2 p {
      width: 180px;
      margin-bottom: 11px;
    }
    .home .box .box-content .jingying #xinxi-2 p span {
      color: #ec6868;
    }
    .home .box .box-content .jingying #xinxi-2 p font {
      color: #909090;
      font-size: 14px;
    }
    .home .box .box-content .last {
      margin-bottom: 80px;
    }
    .home .box .box-content .xiayibu p {
      width: 336px;
      margin: 0 auto;
      text-align: center;
      padding: 14px 135px;
      color: #fff;
      background: #fc7257;
      font-size: 22px;
      cursor: pointer;
    }
}
 /*# sourceMappingURL=index.css.map */
/*# sourceMappingURL=RongziLeixing.css.map */
